.item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.link {
  font-size: 18px;
  color: #333333;
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #333333;
    transform: translateX(-50%);
    transition: width .3s;
  }

  &:hover:after {
    width: 100%;
  }
}

.active {
  &:after {
    width: 100%;
  }
}