.item {
  flex: 0 0 25%;
  margin-bottom: 40px;
  padding: 15px 20px;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 10px;
  }
}

.image {
  width: 100%;
}

.name {
  font-size: 21px;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0;
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}