.views {
  padding: 15px;
  background-color: #f1f1f1;
  height: 42vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.preview {
  margin: auto;
}

.item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.right {
  text-align: right;
}