@import '~normalize.css';

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none
}

ul {
  padding: 0;
  list-style: none;
}

.app-wrapper {
  position: relative;
  background: blue;
  min-height: 100vh;
  display: flex;
  color: #333333;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  margin: 0 0 20px;
}

.img-fluid {
  max-width: 100%;
}