@import '~normalize.css';

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none
}

ul {
  padding: 0;
  list-style: none;
}

.app-wrapper {
  position: relative;
  background: blue;
  min-height: 100vh;
  display: flex;
  color: #333333;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  margin: 0 0 20px;
}

.img-fluid {
  max-width: 100%;
}

.form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-input {
  width: 100%;
  padding: 0 15px;
  height: 30px;
  border: 1px solid #333333;
  border-radius: 5px;

  &.success {
    border-color: #c0c029;
  }
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
}

.warning-notice {
  position: absolute;
  top: 100%;
  margin-top: 3px;
  font-size: 14px;
  color: red;
}